.header {
    
    padding: 10px 10px ;
    text-align: center;
    font: 1em sans-serif;
    font-size: 30px;
    border: 1 px solid aqua;
    background-color: rgb(143, 237, 100);
    margin-top: 20 px;
    margin-bottom: 20px;
}


.contenedor{
    padding: 50px 50px;
    background-color: pink;
    margin-left: 0;
    margin-right: 0;
    border-radius: 50px;
}
h1{
    color:cornflowerblue ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
    text-align: center;
}
.footer{
    background-color: pink;
    margin-top: 200px;
    padding: 20px 350px;
    border: 1px solid rgb(192, 255, 200);
    
}